MONGO_URL=mongodb://localhost:27017
DB_NAME=bitlora
CORS_ORIGINS=http://localhost:3000
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
DEMO_EMAIL=
DEMO_PASSWORD=
BITLORA_EMAIL_KEY=
EMAIL_FROM_NAME=Bitlora Pro
FRONTEND_URL=http://localhost:3000
